{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} <link rel="stylesheet" href="css/home.css"> {% endcomment %}
        <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
        <title>Home</title>
    </head>
    <body>
        {% comment %} <p>Bem vindo, insira o seu e-mail para prosseguir</p> {% endcomment %}
        <form action="{% url 'segunda' %}">
            Login:
            <input type="email" name="email" id="email">
            Senha:
            <input type="password" name="password" id="password">
            <input id="login-button" type='submit' value='Login'/>
        </form>
        <a id="go-to-login" href="{% url 'login' %}">Login</a>
        <br/>
        <a id="go-to-register" href="{% url 'register' %}">Registrar</a>
    </form>
</body>
</html>
