{% extends 'base.html' %}
{% block title %}Registro de Usuário{% endblock %}
{% block content %}
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Board game ID</th>
                <th>Board game Name</th>
                <th>Board game Email</th>
                <th>Board game Contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ad in ads %}
                <tr>
                    <td>{{ ad.name }}</td>
                    <td>{{ ad.release_year }}</td>
                    <td>{{ ad.price }}</td>
                    <td>{{ ad.state }}</td>
                    <td>{{ ad.image_url }}</td>
                    <td>{{ ad.announce_date }}</td>
                    <td>{{ ad.status }}</td>
                    <td>
                        <a href={% url 'board_game_edit' ad.id %}><span class="glyphicon glyphicon-pencil">Edit</span></a>
                        <a href={% url 'board_game_delete' ad.id %}>Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <center><a href={% url 'board_game' %} class="btn btn-primary">Add New Record</a></center>
{% endblock %}
