{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% comment %} <link rel="stylesheet" href="{% static 'css/estilo.css' %}"> {% endcomment %}
    </head>
    <body>
        <h1>Board games</h1>
        <div>
            <a href="/">Homepage</a>
            {% if not user.is_authenticated %}
            | <a href="{% url 'login' %}?next={% url 'board_game' %}">Login</a>
            | <a href="{% url 'register' %}">Registrar</a>
            {% else %}
            | <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
            | Você é {% firstof user.username "visitante" %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
