{% extends 'base.html' %}
{% block title %}Board game{% endblock %}
{% block content %}
    <h2>Página de gerencia de board game</h2>
    <form method="post">
        {% csrf_token %}
        <table class="formulario">
            {% for field in form %}
                {% if field.name not in "announce_date,owner,status" %}
                <tr><td>{{ field.name }}: {{ field }}</td></tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Criar">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}