{% extends 'base.html' %}
{% block title %}Board game{% endblock %}
{% block content %}
    <h3>{% firstof title "Crie o seu anúncio:" %}</h3>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name not in "announce_date,owner,status" %}
                <div class="ml-2">    
                    {{ field.label }}:
                    <div class="ml-1">{{ field }}</div>
                </div>    
            {% endif %}
        {% endfor %}
        <input class="ml-2 mt-2 btn btn-primary" type="submit" value={% firstof button "Criar" %}>
    </form>
{% endblock %}
