<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
        <form method="POST" class="post-form" action="{% url 'board_game_update' board_game.id %}">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <h3>Update Details</h3>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Board game Id:</label>
                    <div class="col-sm-4">
                        <input type="text"
                               name="eid"
                               id="id_eid"
                               required
                               maxlength="20"
                               value="{{ board_game.name }}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Board game Name:</label>
                    <div class="col-sm-4">
                        <input type="text"
                               name="ename"
                               id="id_ename"
                               required
                               maxlength="100"
                               value="{{ board_game.release_year }}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Board game Email:</label>
                    <div class="col-sm-4">
                        <input type="text"
                               name="eemail"
                               id="id_eemail"
                               required
                               maxlength="254"
                               value="{{ board_game.price }}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Board game Contact:</label>
                    <div class="col-sm-4">
                        <input type="text"
                               name="econtact"
                               id="id_econtact"
                               required
                               maxlength="15"
                               value="{{ board_game.state }}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Board game Contact:</label>
                    <div class="col-sm-4">
                        <input type="text"
                               name="econtact"
                               id="id_econtact2"
                               required
                               maxlength="15"
                               value="{{ board_game.image_url }}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Board game Contact:</label>
                    <div class="col-sm-4">
                        <input type="text"
                               name="econtact"
                               id="id_econtact3"
                               required
                               maxlength="15"
                               value="{{ board_game.announce_date }}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
